.featured {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 30px;
    position: relative;
}
.featured h2 {
    color: black;
}
.featured p {
    font-weight: lighter;
    line-height: 1.4;
    text-align: justify;
}
.collection {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-flow: row wrap;
}
.collection > div {
    min-height: 300px;
    flex: 40%;
    margin: 0 15px;
    position: relative;
}
.caption {
    position: absolute;
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 80%;
    color: black;
}
.caption button {
    background: none;
    margin-top: 50px;
    margin-left: 0;
    padding-left: 0;
    font-weight: bolder;
}
.collection > div:nth-child(1) {
    margin-left: 0;
}
.collection > div:nth-child(2) {
    margin-right: 0;
}
.collection h2 {
    line-height: 1.5;
}
.wrapper {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth !important;
    width: 100%;
    
}
.cardContainer {
    flex: 10%;
    margin: 15px;
    border-radius: 8px;
    height: auto;
    transition: transform 0.3s ease;
    min-width: 100%;
    min-height: 330px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.cardContainer > div {
    flex: 30%;
    margin:0 10px;
}
.cardContainer > div:nth-child(1) {
    margin-left: 0;

}
.cardContainer > div:nth-child(3) {
    margin-right: 0;
}
.cardContainer:nth-child(1) {
    margin-left: 0;
}
.flex {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    
}
.flex > div {
    bottom: -10px;
}
.title {
    display: flex;
    flex-flow: row wrap;
}
.title h4, .title p {
    flex: 100%;
}
.imgSlider {
    width: 100%;
    position: relative;
    height: fit-content;
}
.carousel {
    margin-top: 60px;
    width:100%;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
    height: auto;
    justify-content: space-between;
    flex-flow: row;
    position: relative;
}
.controlButtons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    width: fit-content;
    height: auto;
    cursor: pointer;
    /* background-color: rgba(0,0,0,0.7); */
    background-color: white;
    padding: 6px 2.5px;
}
.controlButtons i {
    font-size: 35px;
}
.left {
    left: 0px;
    color: black;
}
.right {
    right: 0px;
    color: black;
}

.carousel > div {
    flex: 40%;
    position: relative;
    min-width: 100%;
    max-width: 100%;
    height: 500px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.carousel .caption {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
    color: whitesmoke;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.carousel .caption span:nth-child(1) {
    color: white;
    font-weight: 400;
    opacity:1;
}
.carousel .caption > span{
    opacity: 0.8;
    color: white;
    font-size: 15px;
    display: block;
}
.carousel .caption h1 {
    margin:10px 0;
    font-size: 50px;
}
.carousel .caption > button {
    font-weight: bolder;
    color: whitesmoke;
}

@media screen and (min-width:750px) {
    .featured {
        padding: 20px;
    }
    .title h4, .title p {
        flex: 30%;
        margin:0 30px;
    }
    .title {
        margin-bottom: 30px;
    }
    .cardContainer > div {
        flex: 20%;
        margin:0 15px;
    }

    

    
}

@media screen and (min-width:750px) {

    .wrapper {
        min-height: 450px;
    }

}
@media screen and (min-width:850px) {
    .title p {
        padding:20px 70px;
    }
    .featured {
        padding: 30px;
    }

}
@media screen and (min-width:1024px) {
    .wrapper {
        min-height: 650px;
    }
 
}
@media screen and (max-width:850px) {
    .collection > div {
        flex: 100%;
        margin: 15px 0;
        min-height: 300px;
    }
}
@media screen and (max-width:600px) {
    .collection > div {
        flex: 100%;
        margin: 15px 0;
        min-height: 250px;
    }
    .carousel .caption h1 {
        margin:10px 0;
        font-size: 26px;
    }
    .caption {
        height: 90%;
        width: 92%;
    }
    .caption h2 {
        font-size: 17.5px;
    }
    .caption button {
        margin-top: 15px;
    }
    .carousel > div {
        height: 320px;
    }
}
