.form {
    width: 100%;
    height: auto;
    padding: 20px 10px;
}
.form label {
    width: 100%;
    display: block;
}
.form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.528);
    padding: 12px;
    outline: none;
    color: black;
    margin-top: 20px;
}
.formGroup {
    margin-bottom: 40px;
}
.select {
    /* min-width: 80px; */
    background-color: rgb(9, 9, 24);
    color: white;
    padding: 12px 10px;
    outline: none;
    margin-bottom: 30px;
}
@media screen and (min-width:800px) {
    .form input {
        width: 80%;
    }
}