.panel {
    width: 100%;
    height: auto;
    background-color:#EFEFEF;
    padding-bottom: 20px;
}
.controls {
    width: 100%;
    height: 55px;
    display: flex;
    flex-flow: row;
    align-items: center;
    overflow-x: auto;
    justify-content: space-between;
    max-width: 750px;
    color: #334255;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-bottom:1px solid #33425528;
}
.controls::-webkit-scrollbar {
    display: none;
}
.controls > div {
    min-width: 120px;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content > div {
    padding: 20px;
}